<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listar Historiales Médicos</title>
</head>
<body>

<h1>Lista de Historiales Médicos</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Paciente</th>
            <th>Diagnóstico</th>
            <th>Médico</th>
            
        </tr>
    </thead>
    <tbody>
        <tr th:each="historial : ${historialesMedicos}">
            <td th:text="${historial.id}"></td>
            <td th:text="${historial.paciente.nombre} + ' ' + ${historial.paciente.apellido}"></td>
            <td th:text="${historial.diagnostico}"></td>
            <td th:text="${historial.medico.nombre} + ' ' + ${historial.medico.apellido}"></td>
            
        </tr>
    </tbody>
</table>

<a href="/historialMedico/registrar">Registrar Nuevo Historial Médico</a>

</body>
</html>
